/*--объявление глоб.переменных--*/
:root {
  --clr-ttl: #212121; /*--осн.цвет заголовков--*/
  --clr-txt: #757575; /*--осн.цвет текста--*/
  --clr-backg-hero: #2f303a; /*--цвет фона героя и футера--*/
  --clr-backg-item: #f5f4fa; /*--доп.цвет фона элементов--*/
  --clr-btn-link: #ffffff; /*--цвет текста акт.кн.,ссылок..--*/
  --clr-brend: #2196f3; /*-цвет логотипа,акт.кнопок и ссылок---*/
  --clr-logo-part: #000000; /*-цвет логотипа,акт.кнопок и ссылок---*/
  --clr-ft-link: rgba(255, 255, 255, 0.6); /*--цвет ссылок в футере--*/
}
/*--Установки "по умолчанию" для сайта--*/

body {
  font-family: 'Roboto', sans-serif;
  color: var(--clr-txt);
  background-color: var(--clr-btn-link);
  cursor: default;
}

/*--Установки элементов--*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.nav-link.current {
  color: var(--clr-brend);
}

/*--Логотип--*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--clr-brend);
  letter-spacing: 0.03em;
}
.logo-part {
  color: var(--clr-logo-part);
}

.footer-section .logo-part {
  color: var(--clr-btn-link);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--clr-ttl);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-brend);
}

.nav-link-mailto,
.nav-link-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--clr-txt);
}
.nav-link-mailto:hover,
.nav-link-mailto:focus,
.nav-link-phone:hover,
.nav-link-phone:focus {
  color: var(--clr-brend);
}

/*--main-section--*/
.main-section {
  background: var(--clr-backg-hero);
  text-align: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--clr-btn-link);
}

.main-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  color: var(--clr-btn-link);
  background-color: var(--clr-brend);
}

/*--advants-section--*/
.advants-title {
  display: none;
}
.advants-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--clr-ttl);
}
.advants-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--clr-txt);
}

/*--direct-section--*/
.direct-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-ttl);
}

/*--card-section--*/
.card-section {
  background: var(--clr-backg-item);
  text-align: center;
}
.card-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-ttl);
}
.card-item {
  width: 270px;
  height: 368px;
  background: var(--clr-btn-link);
  text-align: center;
}

.card-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-ttl);
}
.card-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--clr-txt);
}
/*--footer-section--*/
.footer-section {
  background: var(--clr-backg-hero);
}

.addr {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--clr-btn-link);
}
.addr-link-mailto,
.addr-link-phone {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--clr-ft-link);
}
.addr-link-mailto:hover,
.addr-link-mailto:focus,
.addr-link-phone:hover,
.addr-link-phone:focus {
  color: var(--clr-brend);
}

/*------------PORTFOLIO---------*/

.portfolio-title {
  display: none;
}
.btn-item {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--clr-backg-item);
  color: var(--clr-ttl);
  text-align: center;
  border: none;
  cursor: pointer;
}
.btn-item:hover,
.btn-item:focus {
  color: var(--clr-btn-link);
  background-color: var(--clr-brend);
}

.sample-title {
  display: none;
}

.sample-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.sample-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--clr-txt);
}
